{% extends "base.html" %}
{% block content %}

<h2>Hello!</h2>
<h3>{{response}}</h3>

<form method="post">
    <label>
        <div>title</div>
        <input type="text" name="title" value="{{title}}">
    </label>

    <label>
        <div>art</div>
        <textarea name="art">{{art}}</textarea>
    </label>

    <div class="error">{{error}}</div>

    <input type="submit">
</form>

<hr>

{% for art in arts %}
    <div class="art">
        <div class="art-title">{{art.title}}</div>
        <pre class="art-body">{{art.art}}</div>
    </div>
{% endfor %}

{% endblock %}
